<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.facebook.com/yourpage"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/aakash_dabi/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/aakash-dabi14"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">
          &copy; HeavenHub Private Limited
        </div>
        <div class="f-info-link">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
