<style>
  .btn-search {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }

  .btn-search i {
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem;
    font-size: 1rem;
  }

  /* Additional styles for small screens */
  @media screen and (max-width: 767px) {
    .search-inp {
      padding: 0.5rem 2rem;
    }

    .btn-search {
      padding: 0.3rem 1rem;
    }
  }

  /* Style for expanded navbar */
  .navbar-collapse.show {
    background-color: #ffffff; /* White background */
    border-radius: 0.5rem; /* Optional: Add border radius */
    position: fixed; /* Fixed position */
    top: 3.5rem; /* Distance from top (adjust according to your needs) */
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays on top */
    padding: 1rem; /* Padding for expanded navbar */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    max-height: calc(100vh - 3.5rem); /* Limit height to viewport height minus navbar height */
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/search" method="get">
          <input class="form-control me-2 search-inp" type="search" name="search" placeholder="Search destinations">
          <button class="btn btn-search" type="submit">Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">HeavenHub your home</a>

        <% if(!currUser){ %>
        <a class="nav-link active" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% }  %>
        <% if(currUser){ %>
        <a class="nav-link" href="/logout">Log out</a>
        <% }  %>
      </div>
    </div>
  </div>
</nav>

<script>
  // Add event listener to close navbar toggler when clicked
  document.addEventListener('click', function (event) {
    const navbarToggler = document.querySelector('.navbar-toggler');
    if (!navbarToggler.contains(event.target)) {
      const expandedNavbar = document.querySelector('.navbar-collapse.show');
      if (expandedNavbar && !expandedNavbar.contains(event.target)) {
        navbarToggler.click();
      }
    }
  });
  
</script>
